/* Header for Login Page */

.logo-nav-container {
  background-color: black;
  padding: 2%;
  display: flex;
  justify-content: space-evenly;
}

.logo {
  font-size: 2.5rem;
  margin: 0 0 0 3%;
  width: 10%;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.logo i {
  padding: 3%;
}

.nav-container {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  margin: 0 3% 0 0;
}

.nav-container a {
  text-decoration: none;
  color: white;
  padding: 1%;
  font-weight: 600;
  font-size: 1.6rem;
}

.nav-container a:hover {
  font-size: 2rem;
  color: white;
  text-decoration: none;
}

.Login {
  font-family: "Quicksand", sans-serif;
  border-radius: 25px;
  padding: 5vh;
  padding-left: 10vh;
  padding-right: 10vh;
  margin: 2vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.sign-in-banner {
  width: 380.5px;
  height: 350px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

.container {
  background: rgba(43, 43, 43, 0.8);
  width: 60%;
  height: 35rem;
  margin: 0 auto;
  margin-top: 8rem;
  display: flex;
  align-items: center;
  position: relative;
  background-image: url("https://i.postimg.cc/zBf0kpnG/background.png");
}

.signup-container,
.signin-container {
  padding: 5rem;
}
.signin-container {
  text-align: right;
}
h2 {
  color: #fff;
  margin: 1rem 0;
}

p {
  color: #ddd;
  font-size: 3rem;
  margin: 1rem 0;
  font-weight: 300;
}

.forgot__password-container {
  margin-bottom: 1rem;
  font-size: 1.3rem;
}
#login {
  padding: 1rem 2rem 2rem 1rem;
  border: none;
  color: rgb(24, 24, 24);
  background: #ddd;
  cursor: pointer;
  border-radius: 2px;
  outline: none;
  transition: all 0.3s;
}

#login a:hover {
  background: #fff;
  text-decoration: none;
}

#login a:active {
  transform: translatey(2px);
  text-decoration: none;
}

.overlay {
  position: absolute;
  top: -2rem;
  left: 0;
  width: 50%;
  transition: all 1s;
}

.form-container {
  background: #fff;
  padding: 5rem;
  height: 40rem;
  border-radius: 4px;
  width: 100%;
  transition: all 1s;
}

h3 {
  color: rgb(65, 65, 65);
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

a {
  color: #1ec47b;
}

a:hover {
  color: #0fb66e;
}
.input-container {
  margin: 1.5rem 0;
}
input {
  padding: 1rem 2.4rem;
  border-radius: 2px;
  border: 1px solid rgb(128, 128, 128);
  outline: none;
  width: 100%;
}

.form-button {
  background: #1ec47b;
  color: #fff;
  outline: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.22);
}
.form-button:hover {
  background: #0fb66e;
}
.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.signin-form {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: -1;
  opacity: 0;
}

.slide-right {
  left: 50%;
}

.slide-left {
  left: 0;
}

.social-container {
  text-align: center;
}

.social-container a {
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 4rem;
  width: 4rem;
}

.error{
    color: darkslateblue;
    font-size: 1rem;
}